@font-face {
    font-family: "AauxPro-LightSC";
    src: url("../fonts/AauxPro-LightSC.ttf");
}


@font-face {
    font-family: "AauxPro-Regular";
    src: url("../fonts/AauxPro-Regular.ttf");

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

* { margin:0; padding:0; }
p { margin:5px 0 10px 0; }







#a-frame{
    /* border :1px solid black; */
    padding-top: 4em;
}



    #about h2{
        font-family:"Helvetica Neue";
        width: 20%;
        text-transform: uppercase;
        margin-right:100px;
        /* border: 1px solid black; */
        float: left;
        font-size: 14pt;
        kerning: 1px;
    }

#about p{
        width: 60%;
        /* border: 1px solid black; */
        text-align: right;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.5em;
        font-size: .8em;
        float: left;
}

.a-box{
        /* background-color: hotpink; */
        margin: auto;
        overflow: hidden;
        margin-bottom: 8em;
}




.division{
    margin-top: 30px;
}

.division h3{
        text-transform: uppercase;
        /* border: 1px pink solid; */
        font-family: "Helvetica";
        font-weight: 500;
        font-size: 12pt;
        height: auto;
        float: left;
        transform: rotate(90deg);
        transform-origin: top left;
        margin-left: 70px;
        margin-top: 0px;

}

.division ul{
    text-align: left;
    /* border: 1px solid crimson; */
    float: left;
    height:200px;
 
}

.division ul li{
    text-transform: capitalize;
    list-style-type: none;
    font-size: .8em;
    line-height: 2em;
}




.m1{ 
    margin-left: 70px;
    margin-top: 0px;  }

.m2 {
    margin-left: 50px;
    margin-top: 0px;}

.me{margin-left: 10%;}
.mei{margin-left: 20%;}
.mee{margin-left:50%; } 
.meee{margin-left:40%; }

.w1{width:50%;
float: left;}



.sol{width: 80%;
text-align: center;}

.example{
    background-color: chartreuse;

 text-align: center;

}

#logo{
    width: 180px;
    margin:25px 0px 0px 25px;
    border: 1px solid #000000;
}


#tokyo{
    width: 75%;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid violet; */
}



.categoria{
    text-transform: uppercase;
    font-family: "AauxPro-Regular";
    text-align: right;
    color: black;

}

h3{
    text-transform: uppercase;
    font-family: "AauxPro-Regular";
    font-size: 12pt;
    height: auto;
    margin-top: 0px; 
    text-align:right;
}


h5{
    text-transform: uppercase;
    font-family: "AauxPro-Regular";
    font-size: 11pt;
    height: auto;
    margin-top: 0px; 
    text-align:right;
}



.carousel{
    border: 1px solid black;
}

.tabs-content.carousel .carousel-item {
    width: 100%;
    }




.titlew{
    border: 1px solid green;
    width: 40%;
    margin-top: 100px;
    z-index: 3;
}


.titlew h3{
    text-transform: uppercase;
    font-family: "AauxPro-Regular";
    font-size: 18pt;
    height: auto;
    margin-top: 0px; 
    text-align:right;
    
}


/* .carousel-item{
    margin: 10px;
} */

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }



button{
text-transform: uppercase;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-family: "AauxPro-Regular";
    width: 100%;
    background-color: black;
}

#languages{
    background-color: aqua;
    width: 15%;
    float: right;
    padding: 30px 0px 0px 0px;  
}

.pro{
    height: 600px;
    border: 1px solid black;
}

.carousel .carousel-item{
    width:100%;
  }



/* inicio index , html  */

nav img {
    width: 200px;
    margin: 20px 10px;
}

